td {
    padding: 10px;
    background-color: rgb(159, 243, 243);
    font-weight: 300;
    font-family: sans-serif;
}
th {
    background-color: aqua;
}
table {
    border-radius: 10px;
    border: 5px solid black;
}